@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');
* {   
   padding: 0;   
    margin: 0;   
    box-sizing: border-box;   
    -webkit-font-smoothing: antialiased;
    }
    body 
    {    
      font-family: 'Lato', sans-serif;    
      background: var(--dark);    
      color: var(--pure);
    }
      .container 
      {   
        width: 100%;   
          
         margin: 0 auto;
      }
         .nav-wrapper 
         {    
           display: flex;    
           align-items: center;    
           
        }
        .brand 
        {   
           display: flex;    
           margin-left: 40px;
          }
          .nav-wrapper ul.nav-list 
          {    
            list-style-type: none;   
            display: flex;   
             align-items: center;
             float: right;
             margin-left: 90px;
            }
            .nav-wrapper ul.nav-list li 
            {   
               margin-left: 30px;   
   
                 position: relative;
            }
            .nav-wrapper ul.nav-list li a
             {    
               color: var(--pure);   
                text-decoration: none;    
                    
                transition: all .5s ease-in-out;
              }
              .nav-wrapper ul.nav-list li a:hover, .nav-wrapper ul.nav-list li.active a 
              {    
                color: var(--primary);
              }
.header{
  background-color: #F3F3F3;
  width:100%;
  height:100vh;
}           
.container1{
  background-color: #D1E3EA;
  width:100%;
  height:60vh;
}
.slide__content
{
  
}
.heading h2{
padding-top:120px;
margin-left: 130px;
 
}
h4{
  padding-top:10px;
  margin-left: 130px;
}
p{
  color:#0B0C0B;
  padding-top:10px;
  margin-left: 130px;
}

.background{
  background-color:#7A95B3;
  width:100%;
  height:900px;

}
.about{
  width:1000px;
  height:50vh;
  background-color: white;
  margin-left: 130px;
  position: relative;
  top:-47px;
}
.us{
  padding-top: 50px;
  padding-left: 40px;
}
.us h2{
  color:#82A1AF;
}
.par p{
   padding-top:30px;
   font-size:12px;
   
  margin-left: 40px;
   margin-right: 50px;
}
.columns{
  margin-top:70px;
  margin-left:130px;
}
.columns h2{
  color:white;
}
.cat-flex{
  display: flex;
  margin-top: 30px;
  
  border-radius: 5px solid white;
  justify-content: space-between;
  margin-right: 130px;
  height:300px;
 
}
.cat-item{
  text-align: left;
  padding-left: 10px;
  padding-right: 20px;
}
.cat-text{
padding-top: 20px;
padding-left: 20px;
text-align: left;

}
.cat-text h3{
 
}
.p1 p{
margin-left: 20px;

padding-top: 30px;

}
.cat1{
  
  width:300px;
  border: 3px solid white;
}
.btn{
  border-radius: 5px ;
  border-color:#4873C0;
  width:110px;
  height:25px;
  background-color: #4873C0;
  color:white;
  margin-top: 40px;
  margin-left: 80px;
}
.bt1{
  width:190px;
  height:40px;
  background: transparent;
  color:white;
  border-radius: 4px;
  border:2px solid white; 
  margin-top: 40px;
  align-items: center;
  margin-left: 530px;
}
.last{
  background-color: #3E4758;
  height:30vh;
}
.ft{
  
  display:flex;
  margin-left: 130px;
  margin-right: 130px;
  justify-content: space-between;
  padding-top:50px;
  color:#AEB1BC;
}
.col{
  
}
.col1 ul{
  list-style: none;
}
.text{
  width:100%;
  height:9vh;
}
.office{
  margin-left: 130px;
  padding-top: 10px;
}